* {padding: 0; margin: 0}

header {
height: 100px;
width: 100%;
background: #F7ECDE;
position: fixed;
z-index: 1;
-webkit-box-shadow: 0px 0.5px 1px #808080; 
}

header .pertama img {
width: 90px;
height: 90px;
margin-left: 30px;
margin-top: 5px;
margin-right: 20px;
float: left;
}

header .kedua .menu {
margin-bottom: 20px;
}

header .kedua ul li {
float: left;
list-style: none;
font-size: 15px;
margin: 30px 0;
padding-top: 10px;
font-family: sans-serif;
}

header .kedua ul li:hover ul {
background: #F7ECDE;
opacity: 1;
visibility: visible;
}

header .kedua ul li a {
margin-right: 15px;
text-decoration: none;
color: black;
padding: 3px 15px;
transition: 0.2s ease-in-out;
}

header .kedua ul li a:hover {
color: #18978F;
}

header .kedua ul li .panahbawah, .panahbawah1 {
border: solid black;
border-width: 0 1.5px 1.5px 0;
display: inline-block;
padding: 3px;
transform: rotate(45deg);
margin: 0 0 2px 7px;
transition: 0.2s ease-in-out;
}

header .kedua ul li a:hover .panahbawah {
border-color:#18978F;
}

header .kedua ul li a:hover .panahbawah1 {
border-color:#18978F;
}

header .kedua ul li ul {
opacity: 0;
visibility: hidden;
position: absolute;
margin-left: -15px;
transition: all 0.2s ease-in-out;
}

header .kedua ul li ul li {
float: none;
position: relative;
margin-left: 13px;
}

header .ketiga img {
float: right;
width: 10px;
margin: 43px 10px 0 10px;
filter: invert(70%) sepia(74%) saturate(301%) hue-rotate(129deg) brightness(83%) contrast(83%);
}

header .ketiga h1 {
float: right;
margin: 35px 10px 0 0;
font-size: 15px;
border-right: 1.5px solid black;
padding-right: 15px;
line-height: 30px;
}

header .keempat img {
margin: 43px 12px 0 10px;
float: right;
color: grey;
width: 15px;
filter: invert(49%) sepia(1%) saturate(0%) hue-rotate(326deg) brightness(109%) contrast(90%);
}

header .keempat img:hover {
filter: invert(71%) sepia(39%) saturate(3935%) hue-rotate(314deg) brightness(117%) contrast(95%);
}

header .kelima {
width: 80px;
height: 100px;
background-color: #54BAB9;
float: right;
}

header .kelima img {
float: right;
width: 20%;
height: auto;
margin: 43px 30px 0 0;
}

header .kelima img:hover {
filter: invert(92%) sepia(98%) saturate(1522%) hue-rotate(292deg) brightness(115%) contrast(96%);
}

article .gbr {
margin-top: 100px;
position: relative;
float: left;
width: 100%;
}

article .gbr img {
width: 100%;
float: left;
object-fit: cover;
position: relative;
height: 500px;
}

article .gbr .tulisan {
width: 500px;
height: auto;
float: left;
position: absolute;
left: 50%;
top: 35%;
transform: translate(-50%, 0);
}

article .gbr .tulisan h1 {
position: relative;
left: 50%;
float: left;
transform: translate(-50%, 0);
font-size: 100px;
font-family: inherit;
font-style: italic;
text-align: center;
color: whitesmoke;
cursor: default;
font-weight: 1px;
}

article .gbr .tulisan p {
position: relative;
left: 50%;
margin-top: 5px;
float: left;
transform: translate(-50%, 0);
font-size: 20px;
font-family: sans-serif;
text-align: center;
color: whitesmoke;
cursor: default;
}

article .container {
width: 100%;
height: 3600px;
float: left;
}

article .isi {
width: 1130px;
height: 3600px;
float: left;
position: relative;
left: 50%;
transform: translate(-50%, 0);
}

article .isi .kiri {
width: 730px;
height: 3600px;
float: left;
margin-top: 120px;
}

article .isi .kiri .kotak {
width: 730px;
float: left;
margin-bottom: 50px;
-webkit-box-shadow: 0px 0px 5px #ababab;
}

article .isi .kiri .foto {
position: relative;
float: left;
width: 730px;
height: 365px;
}

article .isi .kiri .foto img {
width: 730px;
height: 365px;
object-fit: cover;
}

article .isi .kiri .foto .tgl {
position: absolute;
background-color: #54BAB9;
bottom: -5%;
left: 5%;
padding: 20px 30px;
border-radius: 5px;
transition: all 0.3s ease-out;
}

article .isi .kiri .foto .tgl:hover {
background-color: transparent;
}

article .isi .kiri .foto .tgl:hover h3 {
color: #202A44;
}

article .isi .kiri .foto .tgl:hover p {
color: #202A44;
}

article .isi .kiri .foto .tgl h3 {
text-align: center;
font-size: 25px;
font-family: sans-serif;
color: whitesmoke;
}

article .isi .kiri .foto .tgl p {
text-align: center;
font-family: sans-serif;
color: whitesmoke;
}

article .isi .kiri .kotak .details {
background-color: #F7ECDE;
width: 630px;
float: left;
padding: 50px 50px;
}

article .isi .kiri .kotak .details h1 {
font-size: 23px;
position: relative;
font-family: sans-serif;
margin-bottom: 20px;
}

article .isi .kiri .kotak .details h1:hover {
color: #18978F;	
}

article .isi .kiri .kotak .details h2 {
font-size: 15px;
position: relative;
font-family: sans-serif;
font-weight: normal;
margin-bottom: 10px;
}

article .isi .kiri .details .otherkiri {
border-right: 2px solid black;
width: 137px;
height: 25px;
line-height: 25px;
float: left;
margin-top: 10px;
}

article .isi .kiri .details .otherkanan {
width: 136px;
height: 25px;
line-height: 25px;
float: left;
padding-left: 20px;
margin-top: 10px;
}

article .isi .kiri .details .otherkiri img {
width: 15px;
height: 15px;
float: left;
margin-top: 4px;
}

article .isi .kiri .details .otherkiri p {
margin-left: 25px;
font-family: sans-serif;
font-size: 13px;
}

article .isi .kiri .details .otherkanan img {
width: 15px;
height: 15px;
float: left;
margin-top: 4px;
}

article .isi .kiri .details .otherkanan p {
margin-right: 30px;
margin-left: 25px;
font-family: sans-serif;
font-size: 13px;
}

article .isi .kiri .details .otherkiri:hover img {
filter: invert(44%) sepia(85%) saturate(417%) hue-rotate(127deg) brightness(92%) contrast(89%);
}

article .isi .kiri .details .otherkiri:hover p {
color: #18978F
}

article .isi .kiri .details .otherkanan:hover {
filter: invert(44%) sepia(85%) saturate(417%) hue-rotate(127deg) brightness(92%) contrast(89%);
color: #18978F;
}

article .pagination {
float: left;
position: relative;
margin-top: 30px;
left: 50%;
transform: translate(-50%, 0);
}

article .pagination a {
text-decoration: none;
font-size: 15px;
float: left;
font-weight: 500;
padding: 15px 20px;
border: 1px solid lightgray;
margin-right: 10px;
font-family: sans-serif;
color: black;
}

article .pagination a:hover p {
color: #54BAB9;
}

article .isi .kanan {
width: 350px;
height: 3600px;
float: left;
margin-top: 120px;
margin-left: 50px;
}

article .isi .kanan .search {
float: left;
background-color: #FCF9F5;
width: 293px;
padding: 33px;
margin-bottom: 50px;
}

article .isi .kanan .search .keyword {
position: relative;
float: left;
}

article .isi .kanan .search .keyword input {
line-height: 35px;
height: 35px;
width: 280px;
font-size: 14px;
border-radius: 5px;
color: grey;
border-color: lightgray;
}

article .isi .kanan .search .keyword input::placeholder {
color: grey;
}

article .isi .kanan .search .keyword input.inputText {
text-align: left;
padding-left: 10px;
}

article .isi .kanan .search .keyword img {
width: 14px;
filter: invert(66%) sepia(46%) saturate(437%) hue-rotate(131deg) brightness(92%) contrast(85%);
position: absolute;
right: 5%;
bottom: 33%;
}

article .isi .kanan .search button {
width: 293px;
height: 40px;
background-color: indianred;
border: none;
margin-top: 20px;
color: whitesmoke;
transition: 0.2s ease-in-out;
}

article .isi .kanan .search button:hover {
background-color: #54BAB9;
}

article .isi .kanan .category {
float: left;
background-color: #FCF9F5;
width: 280px;
padding: 40px;
margin-bottom: 50px;
}

article .isi .kanan .category h1 {
font-family: sans-serif;
font-size: 20px;
padding: 0 50px 30px 0;
border-bottom: 1px solid black;
}

article .isi .kanan .category a {
text-decoration: none;
font-family: sans-serif;
color: grey;
}

article .isi .kanan .category a:hover {
color: indianred;
}

article .isi .kanan .category p {
padding: 20px 0;
border-bottom: 1px solid black;
}

article .isi .kanan .recentpost {
float: left;
background-color: #FCF9F5;
width: 280px;
padding: 40px;
margin-bottom: 50px;
}

article .isi .kanan .recentpost .post {
width: 280px;
float: left;
padding: 10px 0;
}

article .isi .kanan .recentpost h1 {
font-family: sans-serif;
font-size: 20px;
padding: 0 50px 30px 0;
border-bottom: 1px solid black;
margin-bottom: 20px;
}

article .isi .kanan .recentpost .post img {
width: 70px;
height: 70px;
object-fit: cover;
float: left;
}

article .isi .kanan .recentpost .post .tulisan {
float: left;
margin-left: 15px;
margin-top: 15px;
}

article .isi .kanan .recentpost .post .tulisan h2 {
font-size: 15px;
font-family: sans-serif;
margin-bottom: 6px;
cursor: pointer;
}

article .isi .kanan .recentpost .post .tulisan h2:hover {
color: indianred;
}

article .isi .kanan .recentpost .post .tulisan p {
font-family: sans-serif;
font-size: 13px;
}

article .isi .kanan .tag {
float: left;
background-color: #FCF9F5;
width: 280px;
padding: 40px;
margin-bottom: 50px;	
}

article .isi .kanan .tag h1 {
font-family: sans-serif;
font-size: 20px;
padding: 0 50px 30px 0;
border-bottom: 1px solid black;
margin-bottom: 20px;
}

article .isi .kanan .tag button {
padding: 5px 20px;
margin-right: 5px;
margin-bottom: 10px;
border-style: none;
background-color: #DCF1F1;
transition: 0.3s ease-in-out;
}

article .isi .kanan .tag button:hover {
background-color: indianred;
}

article .isi .kanan .tag a {
text-decoration: none;
color: black;
transition: 0.2s ease-in-out;
}

article .isi .kanan .tag button:hover a{
color: whitesmoke;	
}

article .isi .kanan .igfeed {
float: left;
background-color: #FCF9F5;
width: 280px;
padding: 40px;
margin-bottom: 50px;	
}

article .isi .kanan .igfeed h1 {
font-family: sans-serif;
font-size: 20px;
padding: 0 50px 30px 0;
border-bottom: 1px solid black;
margin-bottom: 20px;
}

article .isi .kanan .igfeed .baris1 {
float: left;
}

article .isi .kanan .igfeed .baris2 {
float: left;
margin-top: 20px;
}

article .isi .kanan .igfeed .img {
width: 85px;
height: 85px;
float: left;
margin: 0 4px;
}

article .isi .kanan .igfeed .img img {
width: 100%;
height: 100%;
height: auto;
border-radius: 5px;
}

article .isi .kanan .newsletter {
float: left;
background-color: #FCF9F5;
width: 280px;
padding: 40px;
margin-bottom: 50px;	
}

article .isi .kanan .newsletter h1 {
font-family: sans-serif;
font-size: 20px;
padding: 0 50px 30px 0;
border-bottom: 1px solid black;
margin-bottom: 20px;
}

article .isi .kanan .newsletter input {
line-height: 35px;
height: 35px;
width: 280px;
font-size: 14px;
border-radius: 5px;
color: grey;
border-color: lightgray;
}

article .isi .kanan .newsletter input::placeholder {
color: grey;
}

article .isi .kanan .newsletter input.inputText {
text-align: left;
padding-left: 10px;
}

article .isi .kanan .newsletter button {
width: 293px;
height: 40px;
background-color: indianred;
border: none;
margin-top: 20px;
color: whitesmoke;
transition: 0.2s ease-in-out;
}

article .isi .kanan .newsletter button:hover {
background-color: #54BAB9;
}

footer {
width: 100%;
float: left;
height: 600px;
position: relative;
background-color: #DCF1F1;
}

footer .atas {
width: 100%;
position: absolute;
float: left;
top: 20%;
}

footer .atas .kotak1 {
position: relative;
width: 1100px;
height: 300px;
top: 20%;
left: 50%;
transform: translate(-50%, 0);
float: left;
}

footer .atas .alamat {
height: 250px;
width: 210px;
float: left;
margin-left: 40px;
}

footer .atas .alamat .travelia img {
width: 70px;
height: 70px;
float: left;
}

footer .atas .alamat p {
margin-top: 20px;
font-family: sans-serif;
font-size: 14px;
float: left;
}

footer .atas .alamat span {
font-family: sans-serif;
font-size: 14px;
display: block;
margin-top: 7px;
float: left;
}

footer .atas .alamat .sosmed  {
float: left;
margin-top: 60px;
}

footer .atas .alamat .sosmed img {
height: 15px;
float: left;
margin-right: 18px;
filter: invert(49%) sepia(1%) saturate(0%) hue-rotate(326deg) brightness(109%) contrast(90%);
transition: 0.2s ease-in-out;
}

footer .atas .alamat .sosmed img:hover {
filter: invert(71%) sepia(39%) saturate(3935%) hue-rotate(314deg) brightness(117%) contrast(95%);
}

footer .company {
width: 120px;
float: left;
margin-left: 80px;
}

footer .company h1 {
font-family: sans-serif;
font-size: 22px;
margin-bottom: 40px;
}

footer .company a {
font-family: sans-serif;
font-size: 14px;
transition: 0.2s ease-in-out;
margin-bottom: 15px;
text-decoration: none;
color: black;
}

footer .company a:hover {
color: indianred;
}

footer .company p {
margin-top: 12px;
}

footer .popular {
width: 210px;
float: left;
margin-left: 70px;
}

footer .popular h1 {
font-family: sans-serif;
font-size: 22px;
text-align: left;
margin-bottom: 40px;
}

footer .popular .kiri {
width: 60px;
float: left;
}

footer .popular .kiri a {
font-family: sans-serif;
font-size: 14px;
transition: 0.2s ease-in-out;
margin-bottom: 15px;
}

footer .popular .kiri a:hover {
color: indianred;
}

footer .popular .kiri p {
margin-bottom: 12px;
}

footer .popular .kanan {
width: 90px;
float: left;
padding-left: 60px;
}

footer .popular .kanan a {
font-family: sans-serif;
font-size: 14px;
transition: 0.2s ease-in-out;
margin-bottom: 15px;
}

footer .popular .kanan a:hover {
color: indianred;
}

footer .popular .kanan p {
margin-bottom: 12px;
}

footer .popular a {
text-decoration: none;
color: black;
}

footer .instagram {
height: 250px;
width: 270px;
float: left;
margin-left: 70px;  
}

footer .instagram h1 {
font-family: sans-serif;
font-size: 22px;
margin-bottom: 40px;
}

footer .instagram .b1 {
width: 300px;
float: left;
}

footer .instagram .b2 {
width: 300px;
float: left;
margin-top: 20px;
}

footer .instagram .foto4 {
width: 80px;
height: 80px;
float: left;
margin-right: 15px;
}

footer .instagram .foto4 img {
width: 100%;
height: 100%;
height: auto;
border-radius: 5px;
}

footer .bawah {
width: 100%;
position: absolute;
float: left;
bottom: 5%;
}

footer .bawah .isi {
width: 1050px;
position: relative;
border-top: 1px solid grey;
left: 50%;
transform: translate(-50%, 0);
}

footer .bawah .isi p {
text-align: center;
font-size: 14px;
margin-top: 20px;
font-family: sans-serif;
}

footer .bawah .isi a {
text-decoration: none;
color: #18978F;
font-family: sans-serif;
}

